<h2> Edit <em><%= @publication.topic %></em> </h2>

<%= render 'publication_controls' %>
<div class="span2">
  <ul class="nav nav-pills nav-stacked">
    <li class='active'><a href="#">Publication Info</a></li>
    <li><a href="#">Statuses</a></li>
    <li><a href="#">Referees</a></li>
    <li><a href="#">Attachments</a></li>
  </ul>
</div>

<div class="span6">
  <%= render 'form2' %>
</div>
