/* CSS Document */
/* various tables styles - see sample XHTML markup below */
/* style 1 - basic_lines creates a layout with various weights of horizontal lines between the table rows */
/* style 2 bars_n_stripes is similar to style 1 but colors the table rows */
/* style 3 tic_tac_toe creates open table cells all around the layout - only fully supported in Firefox, but degrades nicely in others */  

/*.field {color: red;}*/
.ralign {text-align:right;}
.lalign {text-align:left;float:left;font-weight:bold;}
a:link {text-decoration:none; color:#bb3333;}


/* .tic_tac_toe tbody tr:nth-child(even) td, tbody tr.even tr {background:#ddddcc;} */
table {width:100%;}

/*.tic_tac_toe tbody tr:nth-child(even):hover td, tbody tr.even:hover td {background:#FFFF99;}
/* tbody tr:nth-child(even) td.status:hover, tbody tr.even td.status:hover {background:#FFCC99;} */
/*.tic_tac_toe tr:hover {background:#FFFF99;}*/
/*td.status:hover {background:#FFCC99;}
li.status:hover {background:#FFCC99;}*/
/*.status:hover {background:#FFCC99;}*/
.tic_tac_toe th{background: #ffffe6;}

ul {border:0;margin:0.1em;padding:0;list-style-type: none;}

/*body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}*/
/*body {font-size:80%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}*/
body {font-size:80%;color:#222;background:#fff;font-family:Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;}

table.basic_lines {
	width:300px;
 	border-collapse:collapse;
	margin:0 0 20px; /* border-bottom TEMP for this layout */
	border-top:3px solid #069;
	}
table.basic_lines caption {
	margin-bottom:8px;
	}	
table.basic_lines th {
	border-bottom:2px solid #069;
	}	
table.basic_lines td {
	border-bottom:1px solid #069;
	}	
table.basic_lines td, table.basic_lines th {
	padding:5px 3px;
	}
		
table.bars_n_stripes {
	width:300px;
 	border-collapse:collapse;
	}
table.bars_n_stripes td {
	background-color:#FFFFCC; /* table data area */
	}
table.bars_n_stripes th { /* labels column */
	background-color:#CCFFCC;
	}
table.bars_n_stripes th[scope="col"] { /* headings row */
	/* colors top row of cells - IDWIMIE 6 - previous rule applies to IE6 */
	background-color:#BB7070;
	}
table.bars_n_stripes td, table.bars_n_stripes th  {
	padding:3px 3px; 
	border-bottom:1px solid #069; 
	}
table.tic_tac_toe {
	border-collapse:collapse;
	}
table.tic_tac_toe td {
/* create the grid of table cells */
	border-right: 1px solid #BB7070; 
	border-bottom: 1px solid #BB7070;
	}
table.tic_tac_toe tr:last-child td {
	border-bottom: 0; /* remove the bottom border off the bottom row of tds */
	}
table.tic_tac_toe td:last-child {
	border-right:0; /* remove the right border off the right row of tds */
	}
table.tic_tac_toe th { 
/* create the grid of table cells */
border-right:3px solid #BB7070;
	border-bottom: 1px solid #BB7070;
		padding-right:.3em;
	}
table.tic_tac_toe tr:last-child th { /* removes bottom border off last cell of ths column */
		border-bottom:0;
	}
table.tic_tac_toe th[scope="col"] {
	/* colors top row of cells - IDWIMIE 6 - previous rule applies to IE6 */
	border-right: 1px solid #BB7070;
	border-bottom :3px solid #BB7070;
	}
table.tic_tac_toe th[scope="col"]:first-child { 
/* thick right border on first cell of headings row */
	border-right:3px solid #BB7070;
	}
table.tic_tac_toe th[scope="col"]:last-child {
	border-right:0; /* remove the right border off the right row of ths */
}
table.tic_tac_toe th[scope="row"] {
	text-align:right; /* right aligns the text in the left column */
	}
table.tic_tac_toe td, table.bars_n_stripes th  {
	padding:3px 3px; /* space around the text in each cell */
	}
table.tic_tac_toe caption { /* styles for the caption */
	margin-bottom: .5em;
	font-size:1.2em;
	}

/* sample markup for table CSS above, this example uses basic_lines class */

/*
<table class="basic_lines" summary="Summary of my books">
  <caption>
    <strong>My Books</strong>
  </caption>
  <tr>
    <th scope="col">&nbsp;</th>
    <th scope="col">Stylin'</th>
    <th scope="col">Codin'</th>
  </tr>
  <tr>
    <th scope="row">Languages</th>
    <td>XHTML &amp; CSS</td>
    <td>PHP &amp; SQL</td>
  </tr>
  <tr>
    <th scope="row">Focus</th>
    <td>Interface design</td>
    <td>Back-end code</td>
  </tr>
</table>
*/

/* end sample markup for table CSS above */

h3 + p,ul,ol {margin-left: 3em;}
