#nav_bar ul
{
list-style-type:none;
margin:0;
padding:0;
padding-top:6px;
padding-bottom:6px;
}
#nav_bar li
{
display:inline;
}
#nav_bar a:link,a:visited
{
/*font-weight:bold;*/
color:black;
background-color:#808073;
text-align:center;
padding:6px;
border-left:1px solid black;
border-right:1px solid black;
border-top:1px solid black;
text-decoration:none;
text-transform:uppercase;
}
#nav_bar a:hover,a:active
{
background-color:#bb7070;
}

